@model IEnumerable<PizzaChallenge.Model.Product>
@{
    ViewData["Title"] = "Menukort";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="display-2">@ViewData["Title"]</h2>
<h2>Menukort</h2>
@*<img src="~/images/PizzaLogo.jpg" />*@

<table id="Menutable" class="table table-responsive table-danger  ">
    <thead>
        <tr>
            <th scope="col">Nummer </th>
            <th scope="col">Product</th>
            <th scope="col">Pris</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ingredients)
                </td>
                <td>
            </tr>
            @*<tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>

                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>

                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>

                </tr>*@
        </tbody>
    </table>
