@model IEnumerable<PizzaChallenge.Model.Product>

@{
    ViewData["Title"] = "Pizza King Kontrolpanel";
}
<h2>Produkt Administration:</h2>

<p>
    <a asp-action="CreateProduct">Opret nyt produkt</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nr
            </th>
            <th>
                Navn
            </th>
            <th>
                Beskrivelse
            </th>
            <th>
                Pris
            </th>
            <th>
                Tilbehør
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredients)
            </td>
            <td>
                <a asp-action="EditProduct" asp-route-id="@item.ProductId">Rediger</a> |
                <a asp-action="ProductDetails" asp-route-id="@item.ProductId">Detaljer</a> |
                <a asp-action="DeleteProduct" asp-route-id="@item.ProductId">Slet</a>
            </td>
        </tr>
}
    </tbody>
</table>
