@model IEnumerable<PizzaChallenge.Model.Product>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-controller="Management" asp-action="CreateIngredient">Opret ny ingrediens</a>
    <a asp-controller="Management" asp-action="CreateProduct">Opret nyt produkt</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeFk)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeFk)
            </td>
            <td>
                <a asp-action="EditProduct" asp-route-id="@item.Pid">Rediger</a> |
                <a asp-action="ProductDetails" asp-route-id="@item.Pid">Detaljer</a> |
                <a asp-action="DeleteProduct" asp-route-id="@item.Pid">Slet</a>
            </td>
        </tr>
}
    </tbody>
</table>
